.App {
  text-align: center;
  background-color: #6986c2;
  min-height: 90vh;
  color: white;
}



.App-header {
  /* display: flex;
  flex-direction: column; */
  font-size: calc(10px + 2vmin);
}

.Main {
}
.Favoritos{
  width: 50%;
  margin: auto;
  background-color: azure;
  color: #0f2e6d;
}
.Favoritos li {
  list-style: none;
}